#########################################################
# server_services configuration file
#########################################################
#VERSION
SETTINGS_VERSION=%%SETTINGS_VERSION%%

# General settings
DNS_ENABLED=%%DNS_ENABLED%%
DHCP_ENABLED=%%DHCP_ENABLED%%
FREERADIUS_ENABLED=%%FREERADIUS_ENABLED%%

TIMEZONE=%%TIMEZONE%%

BUILD_DISABLED_CONTAINERS=%%BUILD_DISABLED_CONTAINERS%%
